<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<%- include('../partials/messages.ejs') %>
<h1 class="display-4 mx-auto" style="text-align:center;">All boards</h1>
<div class="row p-5">
    <% boards.forEach(board =>  { %>
        <div class="col-md-4">
            <div class="card">
                <div class="card-title d-flex justify-content-between allign-items-center">
                    <h4><a href="/board/<%=board._id%>"><%=board.boardTitle%></h4></a>
                   <a href="/board/<%=board._id%>/edit"><i class="fa fa-pencil"></i></a>
                </div>
                <div class="card-body">
                <p><%=board.boardDescription%></p>
                </div>
                <form action="/board/<%=board._id%>/delete?_method=DELETE" method="POST">
                    <input type="hidden" name="method" value="DELETE">
                <button type="submit" class="btn btn-danger btn-block btn-sm">
                Delete
                </button>
                </form>
            </div>
        </div>
    <%})%>
</div>
    


</html>