<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<%- include('../partials/messages.ejs') %>

<h1 class="display-4" style="text-align:center;">All boards</h1>

<div class="row justify-content-center">
    <a href="/addboard" style="color:white; text-decoration:none;">
        <div class="card createNewButton">
            <div class="row">
                <div class="col">
                    <h1 class="display-6"
                        style="text-align:right; position:relative; top:60%; transform: translateY(-60%); left:25%;">
                        <i class="fa fa-sticky-note" aria-hidden="true"></i>
                    </h1>
                </div>
                <div class="col-8">
                    <h1 class="display-4" style="text-align: left; position:relative; top:50%; transform: translateY(-50%);
              font-size: 24px;">New board</h1>
                </div>
            </div>
        </div>
    </a>
</div>

<% if (JSON.stringify(boards)=='[]') { %>
<div class="row">
    <h1 class="display-4 center">No boards to display</h1>
</div>
<div class="row">
    <img src="/images/data-not-found.png" alt="No boards found" class="center">
</div>
<% } else { %>
<% boards.forEach(board =>  { %>
<div class="row p-5">
    <div class="col-md-4 boardsVertically">
        <div class="card">
            <div class="d-flex justify-content-between">
                <a href="/board/<%=board._id%>/edit">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <form action="/board/<%=board._id%>/delete?_method=DELETE" method="POST">
                    <input type="hidden" name="method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-sm">
                        <i class="fa fa-times" style="width:20px;" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
            <h4 style="text-align:center;"><a href="/board/<%=board._id%>"><%=board.boardTitle%></a></h4>
            <div class="card-body">
                <p><%=board.boardDescription%></p>
            </div>
        </div>
    </div>
</div>
<%})%>
<%}%>
</html>