<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<%- include('../partials/messages.ejs') %>
<h1 class="display-4 mx-auto" style="text-align:center; color:white;">
  <p><%=currentBoard.boardTitle%></p>
</h1>

<div class="row p-5">

  <div class="col-md-2">
    <a href="/board/<%=currentBoard._id%>/addcard" style="color:white; text-decoration:none;">
      <div class="card d-flex justify-content-between">
        <div class="row">
          <div class="col">
            <h1 class="display-4" style="text-align: right; position:relative; top:50%; transform: translateY(-50%);">
              <i class="fa fa-sticky-note" aria-hidden="true"></i> </h1>
          </div>
          <div class="col-8">
            <h1 class="display-4" style="text-align: left; position:relative; top:50%; transform: translateY(-50%);">New
              card</h1>
          </div>
        </div>
      </div>
    </a>
  </div>

  <% currentCards.forEach(card => { %>
  <div class="col-md-2">
    <div class="card">
      <div class="card-title d-flex justify-content-between cardsContent">
        <button type="button" class="transparentButton" data-toggle="modal" data-target="#cardModal">
          <h4><%=card.cardTitle%></h4>
        </button>
        <button type="button" class="transparentButton" data-toggle="modal" data-target="#cardEditModal">
          <i class="fa fa-pencil"></i>
        </button>
      </div>
      <button type="button" class="transparentButton" data-toggle="modal" data-target="#">
      </button>
      <div class="row p-5">
        <p class="card-text badge badge-primary"><%=card.cardSubtitle %></p>
      </div>
      <button type="button" class="transparentButton" data-toggle="modal" data-target="#cardSubAddModal">
        <p class="card-text">Add a new subtitle</p>
      </button>
    </div>
  </div>

  <!-- Card modal -->
  <div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="cardModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cardModal">Title: <%=card.cardTitle%></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Description: <%=card.cardDescription%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Close too mofo</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card edit modal-->
  <div class="modal fade" id="cardEditModal" tabindex="-1" role="dialog" aria-labelledby="cardEditModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cardEditModal">Edit <%=card.cardTitle%></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card text-center">
            <div class="card-body">
              <form action="/board/<%=card.boardId%>/edit/<%=card._id%>?_method=PUT" method="post">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Title</span>
                  </div>
                  <input type="text" class="form-control" name="title" value="<%=card.cardTitle%>">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                  </div>
                  <textarea name="description" class="form-control"><%=card.cardDescription%></textarea>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Card subtitle add modal-->
  <div class="modal fade" id="cardSubAddModal" tabindex="-1" role="dialog" aria-labelledby="cardSubAddModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cardSubAddModal">Add a new card subtitle</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card text-center">
            <div class="card-body">
              <form action="/board/<%=card.boardId%>/addsubtitle" method="post">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Subtitle</span>
                  </div>
                  <input type="text" class="form-control" name="title" placeholder="Enter card subtitle here">
                </div>
                <input type="hidden" name="currentCardId" value="<%=card._id%>">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Add subtitle</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <%})%>
</div>

</html>